<!-- minified jquery -->
<script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
<!-- bootstrap js files -->
<script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
<!-- custom js files -->
<script type="text/javascript" src="/js/custom/app.js"></script>
<!-- google maps custom js -->
<script type="text/javascript" src="/js/custom/gmaps.js"></script>
<!-- google maps js api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjVGbenNnqxAlIVKs-OOlGmRdlvWFki0Y&callback=initMap" async defer></script>
</body>
</html>
