<!-- minified jquery -->
<script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
<!-- bootstrap js files -->
<script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
<!-- custom js files -->
<script type="text/javascript" src="/js/custom/app.js"></script>
<!-- google maps custom js -->
<script type="text/javascript" src="/js/custom/gmaps.js"></script>
<!-- get users current location from browser -->
<script type="text/javascript" src="/js/custom/getaddress.js"></script>
<!-- google maps js api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjVGbenNnqxAlIVKs-OOlGmRdlvWFki0Y&callback=initMap" async defer></script>
<!-- showing modal with issue details -->
<script type="text/javascript" src="/js/custom/issuemodal.js"></script>
<!-- parallax plugin -->
<script type="text/javascript" src="/js/vendor/parallax.min.js"></script>
<!-- menu js file -->
<script type="text/javascript" src="/js/custom/menu.js"></script>
<!-- expand map -->
<script type="text/javascript" src="/js/custom/expandmap.js"></script>
<!-- ask for location permission -->
<script type="text/javascript" src="/js/custom/asklocation.js"></script>
<!-- sign up form submission -->
<script type="text/javascript" src="/js/custom/signupForm.js"></script>
</body>
</html>
