<div class="modal fade" id="location-permission" tabindex="-1" role="dialog" aria-labelledby="locationPermissionHeading">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text--hidden" id="locationPermissionHeading">Set your location</h4>
      </div>
      <div class="modal-body">
        <p>Your postcode is: <span class="js-postcode-input"></span></p>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No thanks</button>
        <button id="permission-granted" type="button" class="btn btn-primary">Use my location</button>
      </div> -->
    </div>
  </div>
</div>
