<nav role="navigation" class="col-xs-6 main-nav js-main-nav">
  <ul class="main-nav__list">
    <li class="main-nav__item">
      <a href="/" class="main-nav__link">Home</a>
    </li>
    <li class="main-nav__item">
      <a class="main-nav__link">About us</a>
    </li>
    <li class="main-nav__item">
      <a class="main-nav__link">Safety</a>
    </li>
    <li class="main-nav__item">
      <a class="main-nav__link">News and press</a>
    </li>
    <li class="main-nav__item">
      <a class="main-nav__link">Innovation</a>
    </li>
    <li class="main-nav__item">
      <a class="main-nav__link">Have your say</a>
    </li>
    <li class="main-nav__item">
      <a class="main-nav__link">Careers</a>
    </li>
    <li class="main-nav__item">
      <a class="main-nav__link">Infrastructure services</a>
    </li>
    <li class="main-nav__item">
      <a class="main-nav__link">Community</a>
    </li>
    <li class="main-nav__item">
      <a class="main-nav__link">Blog</a>
    </li>
    <li class="main-nav__item">
      <a class="main-nav__link">Contact us</a>
    </li>
  </ul>
</nav>
