<div class="page-alert js-page-alert">
  <div class="container">
    <div class="page-alert__text-wrapper js-page-alert__text-wrapper">
      <p class="page-alert__text js-page-alert__text"><i class="fa fa-exclamation-triangle page-alert__icon" aria-hidden="true"></i>17 May 2016: Sorry we are currently dealing with an unplanned power cut affecting <span class="js-page-alert-postcode"></span><a href="/incidents/123" class="page-alert__link">Track our progress</a></p>
    </div>
  </div>
</div>
