<div class="overlay">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-10">
      </div>
      <div class="col-xs-2 overlay-close">
        <a href="#" class="overlay-close__link js-overlay-close__link"><i class="fa fa-times overlay-close__icon" aria-hidden="true"></i><span class="overlay-close__text">Exit</span></a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 search">
        <p id="search-hint" class="search-hint">
          Start typing to find results
        </p>
        <label class="text--hidden" for="search-input">Search</label>
        <i class="fa fa-search search-icon"></i><input id="search-input" class="search-input js-search-input" name="search-input" type="text" aria-describedby="search-hint"/>
      </div>
    </div>
  </div>
</div>
