<header role="banner" class="site-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4 header-menu">
        <a href="#" class="header-menu__link js-header-menu__link"><i class="fa fa-align-left header__icon" aria-hidden="true"></i><span class="header-menu__text">Menu</span></a>
      </div>
      <div class="col-xs-4 header-logo">
        <div class="header__logo">
          LOGO
        </div>
      </div>
      <div class="col-xs-4 header-search">
        <a href="#" class="header-search__link js-header-search__link"><i class="fa fa-search header__icon" aria-hidden="true"></i><span class="header-search__text">Search</span></a>
      </div>
    </div>
  </div>
</header>
