<header role="banner" class="site-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-2 header-menu">
        <div class="header-menu__wrapper">
          <a href="#" class="header-menu__link js-header-menu__link"><i class="fa fa-align-left header__icon" aria-hidden="true"></i><span class="header-menu__text">Menu</span></a>
        </div>
      </div>
      <div class="col-xs-2 header-search">
        <div class="header-search__wrapper">
          <a href="#" class="header-search__link js-header-search__link"><i class="fa fa-search header__icon" aria-hidden="true"></i><span class="header-search__text">Search</span></a>
        </div>
      </div>
      <div class="col-xs-8 header-location">
        <div class="header-location__wrapper">
          <i class="fa fa-map-marker header__icon" aria-hidden="true"></i><span class="header-location__text">You're currently in: </span><span class="header-location__text-set js-header-location__text-set"></span>
        </div>
      </div>

    </div>
  </div>
</header>
