$color-black: black;
$color-dark: #222325;
$color-light: rgb(204, 204, 197);
$color-light-b: #9a9a9a;
$color-white: white;
$color-light-blue: #e2ecf1;


//primary brand colours
$color-turqoise: #5dcaca;
$color-orange: #faa62f;
$color-red: #9d242d;

// $color-accent: #3D2C2E;
