<% include partials/head %>
<% include partials/menu %>
<% include partials/search-overlay %>
<div class="page-wrapper js-page-wrapper">
  <main role="main">
    <!-- <% include partials/page-alert.ejs %> -->
    <% include partials/site-header %>
    <section class="confirmation-header">
      <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="confirmation-wrapper">
            <h1 class="confirmation-header__title">Great! You're all signed up for SMS updates</h1>
            <p class="confirmation-header__description">We'll let you know as soon as we discover an issue in your area</p>
            <a href="/" class="confirmation-header__link">Back to home</a>
          </div>
        </div>
      </div>
    </section>
    <section class="others">
      <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="others-wrapper">
            <h1 class="others__title">Know someone who needs extra help?</h1>
            <p class="others__description">We can keep you updated if there is ever an issue in their area</p>
            <a href="/" class="others__link">Sign up now</a>
          </div>
        </div>
      </div>
    </section>
    <section class="social">
      <div class="container">
        <h2 class="social__title">Find out more on our <span class="social__title--thick">social media channels</span></h2>
        <div class="row">
          <div class="col-sm-6 col-md-8">
            <div class="social-tweet__wrapper">
              <p class="social-tweet__text">How do we fix an underground electricity cable fault? Watch our video to find out: <strong>http://bit.ly/q42F3</strong></p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="row social-channel-row--first">
              <div class="col-xs-6">
                <div class="social-channel">
                  <a href="https://twitter.com/UKPowerNetworks" target="_blank" class="social-channel__link"><i class="fa fa-twitter social-channel__icon" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="social-channel">
                  <a href="https://www.facebook.com/ukpowernetworks" target="_blank" class="social-channel__link"><i class="fa fa-facebook social-channel__icon" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <div class="row social-chanel-row">
              <div class="col-xs-6">
                <div class="social-channel">
                  <a href="http://uk.linkedin.com/company/uk-power-networks" target="_blank" class="social-channel__link"><i class="fa fa-linkedin social-channel__icon" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="social-channel">
                  <a href="https://www.youtube.com/user/UKPowerNetworks" target="_blank" class="social-channel__link"><i class="fa fa-youtube social-channel__icon" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
<%  include partials/foot %>
