.site-header {
  background-color: transparent;
  padding: 24px 0;
}

%header__link {
  color: $color-white;
  font-size: 2.0rem;
  text-decoration: none;
  &:hover, &:active {
    color: $color-white;
    text-decoration: none;
  }
  &:focus {
    color: $color-white;
    text-decoration: none;
  }
}

%header__text {
  display: none;
  @media(min-width: 768px) {
    display: inline-block;
  }
}

%header__wrapper {
  border: 1px solid $color-white;
  padding: 8px 12px;
}

i.header__icon {
  color: $color-white;
  font-size: 2.0rem;
  margin-right: 12px;
}

.header-menu__wrapper {
  @extend %header__wrapper;
}

.header-menu__link {
  @extend %header__link;
}

.header-menu__text {
  @extend %header__text;
}

.header-search__wrapper {
  @extend %header__wrapper;
}

.header-search__link {
  @extend %header__link;
}

.header-search__text {
  @extend %header__text;
}

.header-location__wrapper {
  text-align: right;
  padding: 8px 12px;
}

.header-location__text {
  color: $color-white;
  font-size: 2.0rem;
  text-decoration: none;
  text-transform: uppercase;
  @extend %header__text;
}

.header-location__text-set {
  text-decoration: underline;
  font-weight: bold;
}
