.search {
  text-align: center;
  padding-top: 120px;
  transition: all 0.3s;
}

.search--active {
  padding-top: 0px;
}

.search-hint {
  text-transform: uppercase;
  @extend .text--small;
  font-weight: 700;
  letter-spacing: 1.4px;
  margin-bottom: 8px;
  color: $color-dark;
  transition: all 0.3s;
}

.search-hint--hidden {
  opacity: 0;
}

.search-icon {
  color: $color-dark;
  margin-right: 12px;
  @extend .text--feature;
}

.search-input {
  @extend .text--feature;
  padding: 6px;
  background-color: transparent;
  border: none;
  outline: none;
}
